name: CI

on:
  push:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: './go.mod'

      - name: Linting
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: v2.4

      - name: Build & Test
        run: |
          go mod download
          make build
          make testacc
        env:
          DASH0_URL: ${{ secrets.DASH0_URL }}
          DASH0_AUTH_TOKEN: ${{ secrets.DASH0_AUTH_TOKEN }}
