name: CI

on:
  push:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: './go.mod'

      - name: Linting
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
        with:
          version: v2.4

      - name: Build & Test
        run: |
          go mod download
          make build
          make testacc
        env:
          DASH0_URL: ${{ secrets.DASH0_URL }}
          DASH0_AUTH_TOKEN: ${{ secrets.DASH0_AUTH_TOKEN }}
